<h3 class="text-center">Users List</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.firstname}}</td>
            <td>{{u.lastname}}</td>
            <td>{{u.email}}</td>
            <td>{{u.country}}</td>
            <td><a routerLink='details/{{u.id}}'>View</a></td>
        </tr>
    </tbody>
</table>