<h3>User's List</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let u of users">
            <td>{{u.id}}</td>
            <td>{{u.name}}</td>
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <td><a routerLink="details/{{u.id}}" class="btn btn-success" >view</a></td>
        </tr>
    </tbody>
</table>