<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd
		">

	<bean id="pRef" class="com.cisco.aopdemo.bean.Product">
		<property name="id" value="100"></property>
		<property name="name" value="Water Bottle"></property>
		<property name="price" value="20"></property>
		<property name="brand" value="bislery"></property>
		<property name="stock" value="0"></property>
	</bean>
	
	<bean id="befAdv" class="com.cisco.aopdemo.bean.BeforeAdvice"></bean>
	<bean id="aftAdv" class="com.cisco.aopdemo.bean.AfterAdvice"></bean>
	
	<bean id="productProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="target" ref="pRef"></property>
		<property name="interceptorNames">
			<list>
				<value>befAdv</value>
				<value>aftAdv</value>
			</list>
		</property>
	</bean>

</beans>