<h3 highlight>Template Driven Form</h3>

<form (ngSubmit)="handler()" novalidate>
    <div class="form-group mt-3">
        <label>Email Id:</label>
        <input type="email" name="email" placeholder="john.doe@gmail.com" class="form-control"
        [(ngModel)]="user.email" #emailid="ngModel" required pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" >

        <div *ngIf="!emailid?.valid && (emailid?.dirty || emailid?.touched)" class="error">
            <div *ngIf="emailid.errors?.['required']">
                Email Id cannot be Empty
            </div>
            <div *ngIf="emailid.errors?.['pattern']">
                Email Id is not Valid
            </div>
        </div>
    </div>
    <div class="form-group mt-3">
        <label>Password:</label>
        <input type="password" name="password" placeholder="Password Here" class="form-control"
        [(ngModel)]="user.password" #password="ngModel" required minlength="8">

        <div *ngIf="!password?.valid && (password.dirty || password.touched)" class="error">
            <div *ngIf="password.errors?.['required']">
                Password cannot be Empty
            </div>
            <div *ngIf="password.errors?.['minlength']">
                Password Must be 8 characters long
            </div>
        </div>
    </div>
    <button class="btn btn-primary w-100 mt-3" type="submit">Login</button>
</form>